#########################################
# Application
#########################################

PORT=3000

NODE_ENV=development

#########################################
# Fonnte
#########################################

FONNTE_TOKEN=

#########################################
# Langflow
#########################################

LANGFLOW_URL=

LANGFLOW_API_KEY=

#########################################
# HTTP
#########################################

REQUEST_TIMEOUT=60000